.testimonials {
  background: #0588BB;
  overflow: hidden;

  &__inner {
    position: relative;
    z-index: 2;
  }
  &__color {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 620px;
    background: #1096CA;
    @media screen and (max-width: 767px) {
      width: 50%;
    }
  }
  &-title {
    display: flex;
    align-items: center;
    margin-left: 80px;
    @media screen and (max-width: 767px) {
      margin: 0;
      padding: 15px 0;
    }
  }
  &-title__icon {
    margin-right: 45px;
  }
  &-title__text {
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 108.75%;
    color: #FFFFFF;
    @media screen and (max-width: 767px) {
      font-size: 30px;
    }
  }
  &-slider {
    margin-left: 143px;
    @media screen and (max-width: 767px) {
      margin-left: 0;
    }
  }
  &-slider__item {
    position: relative;
    width: 445px;
    margin: 32px;
    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 0;
      padding: 10px;
    }
  }
  &-slider-play-video {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    background: url("../img/svg/play-btn.svg") no-repeat center center, rgba(255, 255, 255, 0.25);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    z-index: 2;
  }
  &-slider-play-video:hover {
    -webkit-transform: scale(1.15, 1.15);
    -moz-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    -o-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
  }
  &-slider__counter {
    margin-left: 32px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    @media screen and (max-width: 767px) {
      margin-left: 0;
      margin-top: 15px;
    }
  }
  &-slider__counter span {
    font-size: 18px;
  }
  &-slider__arrows {
    margin-top: 16px;
    margin-left: 32px;
    @media screen and (max-width: 767px) {
      margin-left: 0;
    }
  }
  &-slider__arrows-next,
  &-slider__arrows-prev {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
  }
  &-slider__arrows-next {
    padding-right: 24px;
    background: url("../img/svg/slider-arrow-next.svg") no-repeat right center;
  }
  &-slider__arrows-prev {
    margin-right: 15px;
  }
}