doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Test-Task
        link(rel="stylesheet" type="text/css" href="./libs/slick/slick.css")
        link(rel="stylesheet" type="text/css" href="./libs/slick/slick-theme.css")
    body

        include includes/header

        main
            div.testimonials
                div.container.container--testimonials
                    div.testimonials__color
                    div.testimonials__inner
                        div.testimonials-title
                            div.testimonials-title__icon
                                img(src='./img/svg/testimonials-title.svg' alt='some image')
                            div.testimonials-title__text Testimonials
                        div.testimonials-slider
                            div.testimonials-slides
                                div
                                    div.testimonials-slider__item
                                        a(href="#video-1").testimonials-slider-play-video
                                        video(src="./img/slides/panda.webm" poster="./img/slides/slide-1.jpg" muted)
                                div
                                    div.testimonials-slider__item
                                        a(href="#video-2").testimonials-slider-play-video
                                        img(src="./img/slides/slide-1.jpg" alt="")
                                div
                                    div.testimonials-slider__item
                                        a(href="#video-3").testimonials-slider-play-video
                                        img(src="./img/slides/slide-1.jpg" alt="")
                                div
                                    div.testimonials-slider__item
                                        a(href="#video-4").testimonials-slider-play-video
                                        img(src="./img/slides/slide-1.jpg" alt="")
                            div.testimonials-slider__counter
                            div.testimonials-slider__arrows
                            div.testimonials-slider__arrows-prev Prev
                            div.testimonials-slider__arrows-next Next
        include includes/footer